<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="C:\Temp\Logs\VisaService\internal-nlog.txt">
 
  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
   
    <!-- register custom layout renderer here -->
  </extensions>

  <!--
    More config options - https://github.com/nlog/nlog/wiki/Configuration-file
  -->
  <!--Configure targets here-->
  <targets async="true">
    <!-- enable async logging default queue is 5000 -->
    <!-- write logs to file -->
    <!--Roll file after it reaches this 100 MB size archiveAboveSize ="104857600" -->
    <target xsi:type="File"
            name="allfile"
            fileName="C:\Temp\Logs\VisaService\VisaService-nlog-all-${shortdate}.log"
            layout="${longdate}|Thread[${ThreadAccountId}]|CorrelationAccountId=[${ots-http-correlationAccountId}]|${logger}|${uppercase:${level}}|${message} ${exception}"
            archiveFileName="C:\Temp\Logs\VisaService\Archive\VisaService-nlog-all-{##}.log"
            archiveEvery="Day"
            archiveNumbering="DateAndSequence"
            archiveDateFormat="yyyy-MM-dd"
            archiveAboveSize="104857600"
            maxArchiveFiles="5"
            keepFileOpen="false"
            enableArchiveFileCompression="true" /> 
  </targets>

  <!--Configure rules here-->
  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Trace" writeTo="allfile" />
     
  </rules>
</nlog>